html,
body {
    background-color: #375B68;
    max-width: 1440px;
    font-family: "Sahitya", serif;
    margin: auto;
}

a {
    text-decoration: none;
}

/* ----------------------root--------------------- */

:root {
    --text-color: #F5F7FA;
}

/* ----------------------header--------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 66px;
}

.header .list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0px;
}

.header .list .item {
    color: var(--text-color);
    font-size: 18px;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ----------------------hero-sect--------------------- */

.hero-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-sect .title {
    margin: 0px;
    font-size: 64px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #797979 20%, #ababab 70%);
}

.hero-sect .text {
    margin: 0px;
    color: #FFFFFF;
    font-size: 20px;
}

.hero-sect .btn-shop {
    background: none;
    border: none;
    padding: 5px;
}